/vendor
.env
.idea
.sass-cache/*


public/media/photo-perfil/*
!public/media/photo-perfil/adrian-ortiz123.png
!public/media/photo-perfil/alan-rojas123.png
!public/media/photo-perfil/angel-peralta123.png
!public/media/photo-perfil/israel-chavarria123.png
!public/media/photo-perfil/jonathan-lozano123.png
!public/media/photo-perfil/karen-olvera123.png
!public/media/photo-perfil/unknow.png

public/media/photo-perfil-perfil/*
!public/media/photo-perfil-perfil/cover.png
!public/media/photo-perfil-perfil/cover-123.jpg

public/media/photo-store/*
public/media/photo-product/*

*~
.DS_Store
/node_modules
Homestead.yaml
Homestead.json


