// Varibles
$blanco: #FFFFFF;

$gris-50: #FAFAFA; // #F1F1F9
$gris-100: #F2F3F3;
$gris-200: #F2F2F2;
$gris-250: #E5E5E5;
$gris-280: #E6E6E6;
$gris-300: #979797;
$gris-400: #666666;
$gris-500: #323636;
$gris-600: #333636;

$black-core: #4A4A4A;

$gris-line: #272727;
$gris-background: #1E1E1E;
$gris-label: #9A9A9A;
$gris-input: #2C2C2C;
$gris-input-text: #999999;
$gris-input-placeholder: #2C2C2C;

$morado: #9013FE;
$morado-20: #5856D6;

$azul-10: #F5A623;
$azul-20: #F5A623;
$azul-50: #F5A623; // #54C8FC; // #1E74D0
$azul-100: #F5A623; // #2591FF; // #1E74D0
$azul-200: #F5A623;
$azul-400: #3F454C;

$red-200: #FF435A;

$border-5: 5px;

$sombra-max: 5px 9px 13px 0px rgba(0,0,0,0.15);
$sombra-min: 0px 1px 3px 0px rgba(0,0,0,0.15);

$sombra-gris-object: 0px 2px 6px 0px rgba(0,0,0,0.14);
$sombra-gris-object-extra: 0px 2px 4px 0px rgba(0,0,0,0.07);
$sombra-gris-white-objetct: 0px 4px 16px 0px rgba(0,0,0,0.36);
$sombra-azul-object: 0px 4px 12px 0px rgba(46,123,205,0.69);

// VARIABLES CORE
$gris-150: #E6E6E6;

$purple-05: #F5F1F8;
$purple-10: #F6EDFB;


$green-chat: #61F056;
$green-200: #5CB85C;
$shadown-green-min: 0px 3px 6px 0px rgba(96,240,86,0.40);

$shadown-gray-min: 0px 3px 6px 0px rgba(0,0,0,0.10);

$red-300:  #FC2E51;
$shadown-red-min: 0px 2px 6px 0px rgba(252,46,81,0.50);

$amarillo-200: #FBD63E;
$amarillo-300: #F5A623;

$basic-negro: #222;
$basic-gris: #F7F7F7;
$amarillo-200: #EFC439;


// clase helper
// Extend
%transition-box{
  // Cuando hay muchos valores que se repiten
}

// Quitar el focus de todos los elementos del DOM
*:focus {
  outline:0 !important;
}

// MIXINS

@mixin prefixer($property, $value, $prefixes: webkit moz ms o) {
  #{$property}: #{$value};
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: #{$value};
  }
}

@mixin transition($value: .3s ease) {
  @include prefixer(transition, $value);
}

@mixin box-sizing($value: border-box) {
  @include prefixer(box-sizing, $value);
}

@mixin centrarXY(){
  position: absolute;
  left: 50%;
  top: 50%;
  @include prefixer(transform, translate(-50%, -50%));
}
/*
    @include box-sizing(border-box);
    @include transition(.3s ease);

    @include prefixer(width, calc(100% - 214px));
*/