.core-apps-background-a {
  background-color: $blanco;
  display: none;
  position: fixed;
  z-index: 100;
  top: 40px;
  width: 100%;
  @include prefixer(height, calc(100% - 40px));
}

.core-apps-container {
  display: none;
  max-width: 860px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

// Format apps
.app-option {
  text-align: center;
  display: inline-block;
  width: 130px;
  height: 186px;
  margin: 10px 40px;

  .app-icon {
    margin: 0 auto;
    width: 110px;
    height: 110px;
    border-radius: 115px;
    border: solid 1px $gris-300;
    margin-bottom: 20px;
    @include transition(.3s ease);

    img {
      width: 65px;
      height: auto;
      position: relative;
      left: 30%;
      top: 50%;
      @include prefixer(transform, translate(-50%, -50%));

    }
  }

  a {
    margin-top: 20px;
    text-align: center;
    color: $black-core;
    text-decoration: none;
    @include transition(.3s ease);
  }

  &:hover {
    .app-icon {
      border: solid 1px $morado;
    }

    a {
      color: $morado;
    }
  }
}


svg {
  #Line-Copy-9 {
    stroke: #E74F56;
  }
}
