// LISTA DE CONTACTOS

.data-contacto-tr {
  .container-list-photo-user {
    width: 10px;
    height: auto;
    img {
      max-width: 60px;
      height: auto;
      border-radius: 60px;
      border: solid 2px $gris-100;
    }
  }

  &:hover {
    cursor: pointer;
    .list-contact-full-name {
      color: $azul-200;
    }
  }
}

.list-contact-full-name {
  width: 100%;
  height: auto;
  font-weight: 600;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-contact-mail {
  width: auto;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;

  font-size: 11px;
  background-color: rgba($gris-300, 0.2);
  border-radius: 20px;

  margin-top: 10px;
  margin-bottom: 10px;

  font-style: italic;

}




// VISTA PREVIA DE UN CONTACTO

#continer-contact-shows {
  background-color: $blanco;
}

.core-hidden {
  display: none;
}

.block-content-info-contact {
  width: 100%;
}

.container-show-info-contact-a {
  width: 100%;
  padding: 16px;
  background-color: $blanco;
}

.core-show-sub-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  height: auto;
  padding: 2px;
  padding-top: 0;
  padding-bottom: 2px;

}

// #show-info-contact-nombre-completo, #description-text-title {
.core-show-title-blue {
  color: $azul-100;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  height: auto;
  padding-top: 2px;
  padding-bottom: 10px;
  border-bottom: solid 1px $gris-200;
  display: inline-block;
}





// IMAGENES E INFO GENERAL DEL PRODUCTO
.container-show-info-contact-img-b {
  width: 200px;
  height: auto;
  float: left;
  border-right: solid 1px $gris-100;
  text-align: center;
  padding-bottom: 20px;

  #show-perfil-contact-link {
    width: 155px;

    &:hover {
      @include prefixer(transform, scale(1.1, 1.1));
    }
  }

  .btn-social-radius {
    border-radius: 36px;
    margin: 10px;
    width: 36px;
    height: 36px;
    margin-top: 16px;
  }
}



.sub-image-product {
  width: 50px;
  height: auto;
  border: solid 1px $gris-250;
  margin-bottom: 3px;
  @include transition(.3s ease);

  &:hover {
    border: solid 1px $azul-200;
    cursor: pointer;
    transform: scale(1.2, 1.2);
  }
}

#show-info-contact-foto {
  width: 120px;
  height: auto;
  border-radius: 120px;
  border: solid 1px $gris-100;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-show-info-contact-list-c, .container-list-something {
  @include prefixer(width, calc(100% - 200px));
  height: auto;
  float: right;

  padding-left: 30px;
  div {
    width: 100%;

    div {
      width: 100%;
      padding-top: 10px;
      font-size: 12px;
    }

    .show-info-contact {
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 10px;
      border-bottom: solid 1px $gris-100;
    }
  }
}

.container-list-something {
  width: 100%;
  margin-top: 20px;
  padding-left: 30px;
  float: inherit;
  display: inline-block;
}


// DESCRIPTION
#show-info-contact-desc {
  width: 100%;
  height: auto;
  font-size: 13px;
  background-color: $gris-100;
  padding: 24px;
  text-align: justify;
  display: inline-block;

  p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}



// Cards for Followers and Friends

.card-container {
  width: 100%;
  height: 100%;
  background-color: $blanco;
  padding-top: 12px;
  overflow: auto;
}


.card-container-user {
  @include box-sizing(border-box);
  @include transition(.3s ease);
  @include prefixer(box-shadow, $sombra-gris-object);
  display: inline-block;

  margin: 0 0 12px 15px;
  width: 30%;
  height: 134px;
  background-color: $blanco;

  border-bottom: solid 3px $azul-200;

  &:hover {
    @include prefixer(box-shadow, $sombra-gris-white-objetct);

  }

  .card-info {
    @include box-sizing(border-box);

    img, ul {
      display: inline-block;
    }

    img {
      border-radius: 33px;
      border: solid 1px $gris-100;
      margin: 14px;
      margin-top: -10px;
    }

    ul {
      padding: 0;
      margin-top: 31px;
      li {
        list-style: none;
        a {
          display: block;
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          @include transition(.3s ease);
          text-transform: capitalize;
        }

        span {
          font-size: 12px;
          text-transform: capitalize;
        }
      }
    }
  }

  .card-btns {
    @include box-sizing(border-box);

    a, button {
      font-size: 12px;
      width: 48%;
      background-color: transparent;
      color: $gris-400;
      @include transition(.3s ease);

      &:hover {
        color: $azul-200;
      }
    }

    a {
      border-right: solid 1px $gris-100;
    }
  }
}
