

// MODAL
.modal {
  background-color: rgba($blanco, 0.5);
}

.modal-dialog {
  z-index: 999999;
}

.modal-content {
  box-shadow: $sombra-gris-object;
  border: solid 0 transparent;
  background-color: $blanco;
  border-radius: 0;
}

.modal-header {
  background-color: $gris-280;
  border-radius: 12px 12px 0 0;
  padding: 0;
  border-bottom: solid 0 transparent;

}

.modal-body {
  background-color: $blanco;
  margin-top: 6px;
  margin-bottom: 6px;
  border: solid 0;

  textarea {
    height: 200px !important;
  }
}

.modal-footer {
  border-top: solid 2px $gris-200;
  margin: 0 20px;
}

.form-with-100 {
  width: 100% !important;
}


// CHANGE ANIMATION

.modal.fade .modal-dialog {
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
  top: 100px;
  opacity: 0;

  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}

.modal.fade.in .modal-dialog {

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  opacity: 1;
}


// BUTTONS
.btn-shadow-blue {
  color: $blanco;
  background: $azul-100 !important;
  @include prefixer(box-shadow, $sombra-azul-object);
  @include transition(.3s ease);
  &:hover {
    color: $blanco;
    @include prefixer(transform, scale(1.2, 1.2));
  }
}

.btn-shadow-white {
  color: $gris-400;
  background: $blanco !important;
  @include prefixer(box-shadow, $sombra-gris-white-objetct);
  @include transition(.3s ease);
  &:hover {
    color: $azul-100;
    @include prefixer(transform, scale(1.2, 1.2));
  }
}



// CONTAINER MENU GENERAL FOR MODALS
.container-menu-modal {
  width: 100%;
  height: 54px;
  background-color: $black-core;

  .modal-tag {
    display: inline-block;
    border-top: solid 2px transparent;
    border-right: solid 1px $gris-500;
    border-right: solid 1px $gris-500;
    height: 54px;
    width: auto;
    text-decoration: none;
    @include transition(.3s ease);

    .modal-icon, .modal-desc {
      display: inline-block;
      color: $gris-100;
    }

    .modal-icon {
      width: 36px;
      height: 36px;
      background-color: $gris-400;
      border-radius: 36px;
      margin: 8px;
      margin-left: 10px;
    }

    .modal-desc {
      margin-right: 20px;
      @include prefixer(transform, translateY(-15px));
    }

    .modal-title {
      font-weight: 300;
    }

    .modal-tittle-tag {
      font-size: 13px;
      font-weight: 600;
    }

    // HOVER CUANDO ES SELECCIONADO
    &:hover {
      background-color: $blanco;
      border-top: solid 2px $azul-100 !important;
      div {
        color: $black-core;
      }

      .modal-icon {
        background-color: $gris-100 !important;
      }
    }

  }
}

.modal-title {
  font-size: 10px;
}

.modal-tittle-tag {
  font-size: 14px;
}

// CUANDO ES SELECCIONADO
.modal-tag-selectionated {
  background-color: $blanco;
  border-top: solid 2px $azul-100 !important;
  div {
    color: $black-core;
  }

  .modal-icon {
    background-color: $gris-100 !important;
  }
}
