// LISTA DE PRODUCTOS

.data-product-tr {
  td {
    height: 100px;
    img {
      max-width: 90px;
      height: auto;
    }
  }

  &:hover {
    cursor: pointer;

    .list-product-title {
      color: $azul-200;
    }
  }
}

.list-product-title {
  width: 100%;
  height: 50px;
  font-weight: 600;
  font-size: 11px;
}

.list-product-tags {
  width: auto;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;

  font-size: 11px;
  background-color: rgba($gris-300, 0.2);
  border-radius: 20px;

  margin-top: 10px;
  margin-bottom: 10px;

  font-style: italic;

}

.list-product-pz {
  display: inline-block;
  width: 85px;
  margin-top: 5px;
  font-size: 12px;
}

.list-product-price {
  display: inline-block;
  width: 85px;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  color: $azul-200;
}


// VISTA PREVIA DE UN PRODUCTO

#continaer-product-shows {
  background-color: $blanco;
}

.block-content-info-product {
  width: 100%;
}

.container-show-info-product-a {
  width: 100%;
  padding: 16px;
  background-color: $blanco;
}

#show-info-product-marca {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  height: auto;
  padding: 2px;
  padding-top: 0;
  padding-bottom: 2px;

}

#show-info-product-title, #description-text-title {
  color: $amarillo-300;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  height: auto;
  padding-top: 2px;
  padding-bottom: 10px;
  border-bottom: solid 1px $gris-200;
}





// IMAGENES E INFO GENERAL DEL PRODUCTO
.container-show-info-product-img-b {
  width: 255px;
  height: auto;
  float: left;
  border-right: solid 1px $gris-100;
  text-align: center;
  padding-bottom: 20px;

}



.sub-image-product {
  width: 50px;
  height: auto;
  border: solid 1px $gris-250;
  margin-bottom: 3px;
  @include transition(.3s ease);

  &:hover {
    border: solid 1px $azul-200;
    cursor: pointer;
    transform: scale(1.2, 1.2);
  }
}

#principal-image-product {
  width: 250px;
  height: auto;
}

.principal-image-product {
  border: solid 1px $azul-200;
}

.container-show-info-product-list-c {
  @include prefixer(width, calc(100% - 260px));
  height: auto;
  float: right;
}

.container-show-info-product-list-c {
  padding-left: 10px;
  div {
    width: 100%;

    div {
      width: 100%;
      padding-top: 10px;
      font-size: 12px;
    }

    #show-info-product-price,
    #show-info-product-cantidad,
    #show-info-product-me-gusta,
    #show-info-product-categorias {
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 10px;
      border-bottom: solid 1px $gris-100;
    }
  }
}

#show-info-product-categorias {
  border-bottom: solid 0 red !important;
}

// DESCRIPTION
#description-text-title {
  margin-top: 30px;
  margin-left: 15px;
  display: inline-block;
}

#show-info-product-desc {
  width: 100%;
  height: auto;
  font-size: 13px;
  background-color: $gris-100;
  padding: 24px;
  text-align: justify;
  display: inline-block;

  p {
    margin-bottom: 30px;
  }
}