

// MODAL
.modal {
  background-color: rgba(#000, 0.6);
}

.modal-dialog {
  z-index: 999999;
}

.modal-content {
  box-shadow: $sombra-gris-object;
  border: solid 0 transparent;
  background-color: $blanco;
  border-radius: 10px;
}

.modal-header {
  text-align: center;
  background-color: $gris-280;
  border-radius: 12px 12px 0 0;
}

.modal-body {
  background-color: $blanco;
  margin-top: 6px;
  margin-bottom: 6px;
  border: solid 0;

  textarea {
    height: 200px !important;
  }
}

.modal-footer {
  border-top: solid 2px $gris-200;
  margin: 0 20px;
}

.form-with-100 {
  width: 100% !important;
}


// CHANGE ANIMATION

.modal.fade .modal-dialog {
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
  top: 100px;
  opacity: 0;

  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}

.modal.fade.in .modal-dialog {

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  opacity: 1;
}


// BUTTONS
.btn-shadow-blue {
  color: $blanco;
  background: $azul-100 !important;
  @include prefixer(box-shadow, $sombra-azul-object);
  @include transition(.3s ease);
  &:hover {
    color: $blanco;
    @include prefixer(transform, scale(1.2, 1.2));
  }
}

.btn-shadow-white {
  color: $gris-400;
  background: $blanco !important;
  @include prefixer(box-shadow, $sombra-gris-white-objetct);
  @include transition(.3s ease);
  &:hover {
    color: $azul-100;
    @include prefixer(transform, scale(1.2, 1.2));
  }
}
