/**
Contenido del menu lateral
**/
#main-header-options-app {
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 300px;
  margin-bottom: 30px;
  width: 96%;
}

#main-header-info-app-perfil {
  width: 100%;
  height: 230px;
  background-color: $blanco;
  border-bottom: solid 1px $gris-150;
  overflow: auto;
  @include transition(.3s ease);
  p {
    text-align: center;
  }


  #contact-photo-perfil {

    padding: 14px;
    padding-top: 30px;
    width: 100%;
    height: 155px;
    overflow: hidden;

    img {
      float: left;
      width: 120px;
      height: 120px;
      border-radius: 100px;
      border: solid 1px $gris-100;
    }

    div {
      float: right;
      width: 45px;
      height: 130px;
      padding-top: 10px;

      a {
        padding-bottom: 30px;
        float: left;
        #chat-icon-perfil, #more-icon-perfil {
          width: 36px;
          height: 36px;
          border-radius: 36px;
          @include transition(.3s ease);

          &:hover {
            transform: scale(1.2, 1.2);
          }
        }

        #more-icon-perfil {
          padding-top: 9px;
          background: $blanco;
          box-shadow: $shadown-gray-min;
          padding-left: 10px;
          color: $gris-label;
        }

        #chat-icon-perfil {
          padding-top: 7px;
          background: $green-chat;
          box-shadow: $shadown-green-min;
          padding-left: 7px;
          color: $blanco;
        }
      }
    }
  }
}

#info-contact-perfil {
  margin-top: 14px;

  a {
    text-decoration: none;
    div {
      padding-left: 15px;
      width: 214px;
      height: 36px;
      font-weight: 300;
      font-size: 12px;
      color: $black-core;
      @include transition(.3s ease);

      &:hover {
        color: $azul-100;
      }
    }

    #name-perfil {
      height: 24px;
      font-size: 15px;
      font-weight: 400;
      color: $azul-100;
    }
  }
}



#container-video {
  margin-top: 30px;
  width: 100%;
  height: 430px;
  overflow: hidden;
  background-color: #F1EFED;
  z-index: 10;
  video {
    text-align: center;
  }
}

#article-content {
  margin-top: 40px;
}





/**
 Menu posts
**/

.active {
  background-color: $blanco !important;
  color: $azul-100 !important;
  border: solid 0px $blanco !important;
}

#menu-posts-perfil-container {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 815px;
  height: auto;
  margin-top: -20px;

  #options-menu-post-container, #options-menu-seguir, #options-menu-amigo {
    text-align: center;
    float: left;
    border-radius: 42px;
    background-color: $blanco;
    position: relative;
    z-index: 2;
    box-shadow: $sombra-max;
    padding-top: 4px;

    a, button {
      color: $black-core;
      @include transition(.3s ease);

      &:hover {
        color: $azul-100;
      }
    }

  }

  #options-menu-post-container {
    width: 526px;
    height: 42px;

  }

  #options-menu-seguir, #options-menu-amigo {
    width: 108px;
    height: 42px;
    margin-left: 36px;

    button {
      background-color: $blanco;
    }
  }
}

/**
  Form Create post container button
**/
#box-create-post {
  width: 100%;
  height: 40px;
  margin-top: 2px;
  background-color: $gris-100;
  border-radius: 6px;

  select {
    width: auto !important;
    color: $azul-100;
    height: 28px !important;
    background-color: $blanco !important;
    border-bottom: solid 0 $gris-100 !important;
    border-radius: 100% !important;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 5px;

    &:focus {
      border-bottom: solid 0px $gris-100 !important;
    }
  }

  button {
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    font-size: 12px;
    height: 28px;
    border-radius: 28px;
    border: solid 0px transparent;
    color: $blanco;
    background-color: $azul-100;

    box-shadow: 0px 2px 4px 0px rgba(36,145,255,0.50);
  }
}

/**
  POSTS
**/
#posts-perfil {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 815px;
  min-height: 200px;
  background-color: $blanco;

  // Contenido posts
  #content-post-perfil-and-form {
    float: left;
    width: 526px;
    min-height: 20px;

    #form-posts-add {
      textarea {
        width: 100% !important;
      }

    }
  }

  // Contenido Tags
  #content-candidate-and-tags {
    float: right;
    @include prefixer(width, calc(100% - 526px));
    min-height: 20px;
    background-color: #0000C2;
  }

}



