.options-tools-list, .left-content-list, .left-content-list-tool, .right-content-list, .right-content-list-tool {
  float: left;
  overflow: auto;
}

.left-content-list, .left-content-list-tool {
  background-color: $blanco;
  width: 300px;
  border-right: solid 1px $gris-150;
}

.right-content-list, .right-content-list-tool {
  background-color: $gris-50;
  @include prefixer(width, calc(100% - 300px));
}

 .left-content-list, .right-content-list {
   margin-top: 43px;
 }

 .options-tools-list {
   width: 100%;
 }

.options-tools-list, .left-content-list-tool, .right-content-list-tool {
  height: 46px;
  background-color: rgba($blanco, 0.9) !important;
  border-bottom: solid 1px $gris-150 !important;
}

.list-contacts-table {
  div {
    margin-top: -0px;
  }

  img {
    margin-right: 10px;
    border-radius: 3px;
    width: 40px;
    height: 40px;
  }
}