#icon-statistic-white {
  background-image: url("../images/icon-statistic-white.svg");
  background-size: 46%;
}

.form-config-statistic {
  @include prefixer(height, calc(100% - 173px));
  overflow-x: hidden !important;
  overflow-y: auto !important;

  a {
    text-transform: uppercase;
    margin-top: 0px;
    width: 233px !important;
  }

}

.btn-input-txt-statistic {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  margin-right: 10px;
  margin-right: 10px;
  width: 288px;
  height: 80px;
  border-top: solid 1px $gris-line;

  p {
    margin-top: 15px;
    font-size: 12px;
    color: $gris-input-text;
    text-align: center;
  }

  button {
    float: right;
    margin-right: 20px;
    text-transform: uppercase;
    margin-top: 0px;
    width: 112px !important;
  }
}

.inactive {
  background-color: $gris-input !important;
  border-color: transparent !important;
  border-left: solid 0 transparent;
  margin-bottom: 2px;

  &:hover {
    border: solid 1px $gris-input;
    background-color: $azul-400 !important;
  }
}

.active {
  color: $blanco !important;
  border-color: transparent !important;
  border-left: solid 2px $azul-100 !important;
  border-right: solid 2px $azul-100 !important;
  background-color: $gris-input !important;
  box-shadow: inset 0 0 0 rgba(0,0,0,0) !important;

}

.check-input {
  text-align: left;
  overflow: hidden;
  border-left: solid 0 transparent;
  @include box-sizing(border-box);
  @include transition(.3s ease);
  width: 233px;

  &:hover {
    color: $blanco !important;
  }
}


/**
  MEDIA, MEDIANA, MODA
*/
.container-rangos {
  width: 100%;
  height: auto;

  div {
    margin-top: 16px;
    text-align: center;
    float: left;
    width: 33%;
    margin-bottom: 100px;

    &:nth-child(2) {
      border-left: solid 1px $gris-200;
      border-right: solid 1px $gris-200;
    }

    div {
      margin: auto 0;
      padding: auto 0;
      width: 4em;
      height: 4em;
      border-radius: 2em;
      position: relative;
      top: 0;
      @include prefixer(left, calc(50% - 2em));
      background-image: url("../images/icon-circular.svg");
      background-size: 46%;
      background-position: center;
      background-repeat: no-repeat;

      border: solid 2px $gris-200;
    }

    h3 {
      margin-top: 4.5em;
      font-size: 16px;
      color: #f45b5b;
    }

    p {
      text-transform: uppercase;
    }
  }
}

.graphX {
  width: 0;
  height: 0;
  float: left;
  margin: 2%;

  canvas {
    width: 100%;
    height: auto;
  }

  /*
  color: #5856d6;
  color: #007aff;
  color: #34aadc;
  color: #4cd964;
  color: #ff2d55;
  color: #ff3b30;
  color: #ff9500;
  color: #ffcc00;
  */
}





.tag-collect, .tag-var span {
  padding: 3px 10px;
  border-radius: 5px;
  background-color: $gris-100;
  color: $azul-400;
  float: right;
  border: solid 1px $gris-200;
}

.tag-collect {
  margin-left: 0;
  float: left;
  text-align: left;
}

.tag-var {
  margin-top: 5px;
  width: 100%;
  height: 30px;
}

@media (max-width: 1024px) {
  .graphX {
    width: 97% !important;
    margin: auto 0;
    float: inherit;
    margin-left: 0;
  }
}



.container-radios {
  padding: 10px;

  .radio-inline {
    width: 100%;
    margin-bottom: 15px;
  }

  h4 {
    width: 100%;
    border-bottom: solid 1px $gris-200;
    padding-bottom: 16px;
    font-size: 22px;
  }

  div {
    float: left;
    margin-top: 10px;

    p {
      margin-left: 16px;
      font-size: 30px;
      padding-top: 10px;
      padding-left: 10px;
      border-left: solid 1px $gris-100;
    }
  }
}

.radio-inline input {
  margin-top: -9px;
}