.dropdown-menu-codizer {
  background-color: rgba($gris-background, 0.9) !important;
  box-shadow: $sombra-max;
  border-radius: 0px;
  border: solid 0 ;

  margin-top: 10px;
  margin-right: -10px;

  li {

    a {
      color: $gris-input-text;
      margin-left: -10px;
      padding-top: 12px;
      padding-left: 40px;
      padding-right: 20px;
      padding-bottom: 12px;
      @include transition(.3s ease);

      &:hover {
        color: $blanco;
        background-color: $azul-100 !important;
        box-shadow: 5px 0px 13px 9px rgba(0, 0, 0, 0.15);
      }

    }

    &.divider {
      background-color: $gris-line;
    }

  }

}